Project created on:
    - Python 3.8.0 on win 64 bits
    - Numpy 1.19.0
    - Scipy 1.5.1
    - Matplotlib 3.2.2 (and its dependencies)
        - cycler 0.10.0
        - kiwisolver 1.2.0
        - pyparsing 2.4.7
        - python-dateutil 2.8.1
        - six 1.15.0
    - spiceypy 3.1.1 
